
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard | LevelUp Together</title>
    <link rel="stylesheet" href="../content/css/styles.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!-- Navigation bar -->
<nav>
    <ul>
        <li><a href="/first-page">First Page</a></li>
        <li><a href="/second-page">Second Page</a></li>
        <li><a href="/home">Home Page</a></li>
        <li><a href="/login">Login Page</a></li>
        <li><a href="/student-dashboard">Teacher Page</a></li>
        <li><a href="/teacher-dashboard">Student Page</a></li>
    </ul>
</nav>
<div id="studentDashboard">
    <h2>Your Assignments</h2>
    <div id="assignmentsList"></div>
</div>

<script src="app.js"></script>
</body>
</html>
